@font-face {
  font-family: Trueno;
  src: url(../fonts/Trueno-wml2.otf);
}

body {
  background: #012e2e;
  color: white;
  font-family: Trueno, sans-serif;
}

#map {
  max-width: 1440px;
  height: 723px;
}

#table_product_description tr td{
 text-align: end;
}
#table_product_description .description {
	text-align: start;
}

#table_category tr td {
	text-align: center;
}
